# Frontend (Node.js)
Front/node_modules/
Front/dist/
Front/build/
Front/.env

# Backend (selon votre stack)
/bin/
/obj/
*.dll
*.pdb
*.exe

# Général
.DS_Store
Thumbs.db
*.log
*.swp
*.tmp
/tmp
.vscode/